* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
}

@import "node_modules/bootstrap/scss/bootstrap";

@import "variables";

@import "general/index";
@import "navigation/index";